@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.fa-2x {
font-size: 2em;
}
.neo-app-container {
    margin-top: 64px;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.drawerLinkText {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    position: absolute;
    margin-left: 56px;
    margin-top: 20px;
    text-decoration: none;
    width: 194px;
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
}

.drawerLink {
    text-decoration: none;
    color: black;
}

.drawerLinkIcon {
    color: black;
    margin-left:24px;
    margin-right: 32px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    position: absolute;
    margin-top: 18px;
    font-size: 24px;
}

/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    
    .neo-app-side-menu-compact {
        width: 0px !important;
        top: 0 !important;
        height: 100% !important;
        background: white !important;
        z-index: 2 !important;
    }
    
    .neo-app-side-menu li>.neo-app-menu-item {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:black !important;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;
        height: 48px;
        border-radius: 0 16px 16px 0;
    }
    
    .neo-app-side-menu>ul {
        margin:70px 0 !important;
    }
    .neo-app-side-menu>ul.logout {
        margin:0px 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    
    .neo-app-side-menu-compact {
        width: 0px !important;
        top: 0 !important;
        height: 100% !important;
        background: white !important;
        z-index: 2 !important;
    }
    
    .neo-app-side-menu li>.neo-app-menu-item {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:black !important;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;
        height: 48px;
        border-radius: 0 16px 16px 0;
    }
    
    .neo-app-side-menu>ul {
        margin:70px 0 !important;
    }
    .neo-app-side-menu>ul.logout {
        margin:0px 0 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
    
    .neo-app-side-menu-compact {
        width: 0px !important;
        top: 0 !important;
        height: 100% !important;
        background: white !important;
        z-index: 2 !important;
    }
    
    .neo-app-side-menu li>.neo-app-menu-item {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:black !important;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;
        height: 48px;
        border-radius: 0 16px 16px 0;
    }
    
    .neo-app-side-menu>ul {
        margin:70px 0 !important;
    }
    .neo-app-side-menu>ul.logout {
        margin:0px 0 !important;
    }
    .neo-app-header-search-bar {
        display: none;
         -webkit-transition:width .05s linear;
        transition:width .05s linear;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
    .drawerLogo {
        display: none;
    }
    .neo-app-container {
        margin-left: 72px;
    }
    
    .neo-app-container-menu-extended {
        margin-left: 280px;
        background: transparent !important;
    }
    
    .neo-app-side-menu-compact {
        width: 72px !important;
        background: transparent !important;
        margin-top: 64px;
        z-index: 0 !important;
        height: calc(100% - 64px) !important;
    }
    
    .neo-app-side-menu li>.neo-app-menu-item {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:white !important;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;
        height: 48px;
        border-radius: 0 16px 16px 0;
    }
    
    .neo-app-side-menu>ul {
        margin:7px 0 !important;
    }
    
    .neo-app-header-search-bar {
        display: block;
        max-width: calc(100% - 190px);
        margin-left: 130px;
         -webkit-transition:width .05s linear;
        transition:width .05s linear;
    }
    
    .neo-app-side-menu-compact:hover{
        width:280px !important;
        overflow:visible;
        -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
        box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
        background: #616161 !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
    
    .neo-app-header-search-bar {
        display: block;
        max-width: 720px;
        margin-left: 280px;
        -webkit-transition:width .05s linear;
        transition:width .05s linear;
    }    
}



.neo-app {
    background: url(https://raw.githubusercontent.com/neolightning/NeoMaterial/master/assets/imgs/backgrounds/1.png);
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.neo-app-bar {
  background: #FF5722;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.neo-app-bar-full {
  height: 64px;
}

.nav-logo {
  color: white;
  margin-left: 12px;
  margin-top: 18px;
  text-decoration: none;
  position: absolute;
      margin-top: 18px;

}
.neo-app-header-icon {
}
.nav-logo-text{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: white;
  position: absolute;
  margin-left: 48px;
  margin-top: 20px;
    text-decoration: none;
}
.neo-app-header-search-bar {
  background: rgba(241,243,244,0.24);
    border: 1px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  max-height: 48px;
  margin-top: 8px;
    width: 100%;
}

.neo-app-header-search-bar-input{
  background: transparent;
  width: calc(100% - 11px);
  height: 48px;
  padding: 0 0 0 11px;
  color: rgba(255,255,255,0.87);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font: normal 16px Roboto,sans-serif;
  outline: none;
  border: none;
  font-variant-ligatures: none;
}

input::placeholder {
  color: rgba(255,255,255,0.87);
}

.neo-app-shadow {
  box-shadow: 0 -3px 8px 5px #3f3f3f;
}

.neo-app-side-menu-compact:hover{
width:280px !important;
overflow:visible;
    -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
    box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
    background: #616161;
}
#neo_app_menu {
    cursor: pointer;
}
.neo-app-side-menu {
background:transparent;
position:absolute;
top:64px;
bottom:0;
height:calc(100% - 64px);
left:0;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:0;
}

.neo-app-side-menu-compact {
    width:72px;
    -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
    box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);\
}

.neo-app-side-menu-extended {
  width: 280px !important;
}

.neo-app-side-menu-extended:hover {
  width: 280px !important;
    background: transparent;
}



.neo-app-side-menu li {
position:relative;
display:block;
width:270px;
}

.active i.material-icons {
    color: #FF5722;
}


.neo-app-side-menu li.active a {
  background: rgba(255, 87, 34, 0.25);
  border-radius: 0 24px 24px 0;
}

.neo-app-side-menu li.active:after {
    position: absolute;
    content: ' ';
    left: 0;
    height: 100%;
    width: 4px;
    background: red;
        opacity: 0;
    transition: opacity 150ms linear;
}

.neo-app-side-menu .neo-app-nav-icon {
position:relative;
width:24px;
height:24px;
text-align:center;
vertical-align:middle;
font-size:24px;
margin-right: 32px;
margin-left: 24px;
top: 12px;
}

.neo-app-nav-icon-badge {
  border-radius: 10px;
  background: #FF5722;
  min-width: 20px;
  font-size: .75rem;
  letter-spacing: .3px;
  padding: 0 4px;
  top: 0;
  left: 32px;
  position:absolute;
  font-weight: normal;
  line-height: 20px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  z-index: 1;
  text-align:center;
    color: white;
}

.neo-app-side-menu .neo-app-nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:194px;
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
text-shadow: 0 1px 2px rgba(0,0,0,.65);  
}

.neo-app-nav-text-right {
  float: right;
  letter-spacing: .3px;
  text-shadow: 0 1px 2px rgba(0,0,0,.65);
  margin-right:  12px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.neo-app-side-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul {
        padding: 24px 0 !important;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.neo-app-side-menu li:hover>a {
color:#fff;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0 16px 16px 0;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}